<link rel="stylesheet" href="/styles/login.bundle.css">

<!-- Auth/login page -->
<div class="main container clearfix">
  <h1>Login Interface</h1>
  <p>
    The Zero-Auth Authentication System requires only an email address for users to access sensitive or restricted areas of your
    application platform. To log into the Account Dashboard simply enter the user's email address and click the
    <i>'Send Login Email'</i> button.
  </p>
  <p>
    The user will then receive an email to the registered account containing a link that will grant them access to private sections.
    The link will expire after one hour, but the user will retain access for the length of the browser session.
  </p>
  <p>
    Furthermore, the system doubles as a registration tool. If the email address does not currently exist in the system, a new
    user account will be created and the login link will be sent automatically.
  </p>
  <p>
    To be fully functional you will need to add your mailgun configuration details to the config/custom.js file. You can test
    the system by entering user@example.com, and the server will log the email contents that would have been sent to the
    user.
  </p>

  <div class="uk-text-center">
    <fieldset id="EmailLoginComponent" class="uk-section uk-section-default"></fieldset>
  </div>
</div>

<!-- Auth/login scripts -->
<script type="text/javascript" src="/js/EmailLoginComponent.bundle.js"></script>
<script type="text/javascript" src="/js/login.bundle.js"></script>
