<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= sails.config.custom.organizationName %>
    </title>
    <link rel="stylesheet" href="/styles/app.bundle.css">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div class="default-page">
      <div class="header">
        <h1 id="main-title" class="container">
          <%= __('NoPass Sails App w/ React and Webpack') %>
        </h1>
        <h3 class="container">You're looking at:
          <code><%= view.pathFromApp + '.' +view.ext %></code>
        </h3>
      </div>
      <%- body %>
    </div>

    <script type="text/javascript" src="/js/app.bundle.js"></script>
  </body>

</html>
