<!-- Dashboard/welcome page -->
<div id="welcome" class="uk-section">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is a page that only logged-in people can visit. Don't you feel special?</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
